/*@import "tailwindcss";
@import "nativewind/theme";*/

@import "tailwindcss/theme.css";
@import "tailwindcss/preflight.css";
@import "tailwindcss/utilities.css";
@import "nativewind/theme";

@utility centered-full {
  flex: 1;
  justify-content: center;
  align-items: center;
}

@theme {
  --color-primary: #ffffff;
  --color-background: #ffffff;
  --color-foreground: #ffffff;
}
