DATABASE_URL=postgres://localhost:5432/smartpage?sslmode=disable
CLERK_PUBLISHABLE_KEY=pk_...
CLERK_SECRET_KEY=sk_...
AI_GATEWAY_API_KEY=vck_...


BLOB_READ_WRITE_TOKEN=vercel_blob_rw_...
# BLOB_STORE_ID=store_ # DO NOT SET THIS, IT WILL TRY TO USE OIDC